{
  "openapi": "3.1.0",
  "info": {
    "title": "Планировщик городского досуга в MAX",
    "version": "2026-09-27",
    "description": "Actual HTTP contract of the working tree. Not a release-readiness or live-quality claim. Generated from shared Zod schemas where available; timestamps/prices/travel times are explicit fields. Dates and time windows are also semantically checked in runtime. No credentials are embedded. JSON notation is used as the YAML 1.2 subset to avoid an extra runtime dependency."
  },
  "servers": [
    {
      "url": "https://bbapc7qgk242slpm2df5.containers.yandexcloud.net",
      "description": "Existing configured HTTPS deployment; availability and parity with this working tree require a separate release check."
    },
    {
      "url": "http://127.0.0.1:3000",
      "description": "Local Docker Compose; this URL alone does not provide MAX authorization."
    }
  ],
  "tags": [
    {
      "name": "contract",
      "description": "Freeze the code and these documents together after local and MAX checks."
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "health",
        "summary": "Process liveness, not provider or database readiness",
        "security": [],
        "responses": {
          "200": {
            "description": "Process is answering HTTP.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": {
                      "const": "v-max"
                    },
                    "status": {
                      "const": "ok"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "service",
                    "status",
                    "version"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/public-config": {
      "get": {
        "operationId": "publicConfig",
        "summary": "Browser-safe MapGL configuration",
        "security": [],
        "responses": {
          "200": {
            "description": "Public MapGL key only, when configured. Server-side Places/Routing keys are never returned.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maps": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "provider": {
                          "const": "2gis"
                        },
                        "mapglKey": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "enabled",
                        "provider"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "maps"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/max": {
      "post": {
        "operationId": "validateMaxLaunch",
        "summary": "Validate MAX launch data without creating a separate login session",
        "security": [],
        "description": "No password login and no bearer token are issued. Planning calls must still send X-Max-Init-Data. Credentials and user details must not be included in public evidence.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "initData": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384
                  }
                },
                "required": [
                  "initData"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid signed MAX launch data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaxAuthSuccess"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/bootstrap": {
      "get": {
        "operationId": "planningBootstrap",
        "summary": "Read the route currently selected in the MAX chat",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "description": "Returns view:null when no route is active. An expired draft can instead return saved user conditions with expiredRoute (the previous route title, not an ID). Legacy records may return expiredRoute without saved. Saved conditions are not a live itinerary or confirmation. Successful initial/manual/shared creation attempts to activate the new draft; the saved library remains authoritative if navigation activation fails. Missing runtime configuration returns 503 before authentication.",
        "responses": {
          "200": {
            "description": "Current route, no active route, or saved conditions requiring a fresh draft.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningBootstrap"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/saved/{id}": {
      "get": {
        "operationId": "getSavedConditions",
        "summary": "Read durable user conditions without restoring provider facts",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque saved-conditions identifier; unknown, foreign or expired records return 404."
          }
        ],
        "description": "Reads only the authenticated owner's durable conditions. Does not call the LLM or calculate a route. Coordinates can exist only for an explicitly selected user map/geolocation point; they are not the current location. Provider place/rubric IDs, address labels, catalogs, schedules, prices and itineraries are not part of this payload. Check reconfirmation_required before restoring.",
        "responses": {
          "200": {
            "description": "Saved own conditions and their revision/expiry; not a provider itinerary.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedConditionsView"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/saved/{id}/restore": {
      "post": {
        "operationId": "restoreSavedConditions",
        "summary": "Create a fresh unconfirmed draft from saved user conditions",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque saved-conditions identifier. Ownership is checked before the action body."
          }
        ],
        "description": "Explicit action with a fresh verified locality token and the latest saved revision. The server obtains fresh geography/category context, without reinterpreting the original request with an LLM or reusing the expired itinerary. A new successful action keeps the saved ID and returns an unconfirmed PlanningView with a newer version; inspect issues, review missing/reconfirmation fields, then confirm and calculate separately. A replay of a successful event returns the current view while it remains available, so it may reflect later edits/confirmation/calculation. Body limit: 32 KiB. INVALID_ACTION is 400, unknown/foreign/expired saved conditions are SAVED_CONDITIONS_NOT_FOUND (404), stale revision is SAVED_CONDITIONS_STALE (409), conflicting replay is EVENT_CONFLICT (409). A remap that cannot preserve conditions returns its first reconfirmation issue code with 422. Failed replay preserves the recorded error status (503 only when that status is absent); pending replay returns RESTORE_INTERRUPTED with 503. Neither repeats the context call. Do not retry them silently.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreSavedInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New action: fresh unconfirmed draft without prior provider result. Successful replay: current view.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningView"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/localities": {
      "get": {
        "operationId": "searchLocalities",
        "summary": "Find a verified Russian locality and issue an opaque selection token",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching localities; an empty choices array is valid.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "choices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LocalityChoice"
                      }
                    }
                  },
                  "required": [
                    "choices"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/addresses": {
      "post": {
        "operationId": "searchAddresses",
        "summary": "Find start-point building addresses in the draft locality",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "draft_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "q": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 120
                  }
                },
                "required": [
                  "draft_id",
                  "q"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address choices; the caller selects one before PATCH.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "choices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AddressChoice"
                      }
                    }
                  },
                  "required": [
                    "choices"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/requests": {
      "post": {
        "operationId": "createPlanningDraft",
        "summary": "Parse a new request through geography and LLM into a draft",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "description": "May call paid providers. Body limit: 24 KiB. Reusing an event_id with different content returns EVENT_CONFLICT; a failed/unknown provider outcome is not silently retried. A structurally and semantically checked partial draft can retain clarifications with exact user quotes. Every unresolved question blocks confirm/plan. Review the corresponding field, then explicitly PATCH resolve_clarification for that question at the current version; unsupported or incomplete field values cannot be acknowledged. activity_choice selects trusted catalog types for an existing activity without losing its ID, requirements or order. No clarification action reparses the request with an LLM.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Off-topic input or a draft requiring confirmation.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitialResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/max/webhook": {
      "post": {
        "operationId": "maxWebhook",
        "summary": "Receive MAX bot updates (provider-to-server only)",
        "security": [
          {
            "MaxWebhookSecret": []
          }
        ],
        "description": "Valid updates can send messages to a MAX user and invoke paid providers. Do not replay production events or use this endpoint as a user-facing API. The server ignores unsupported update types; body limit is 64 KiB. Administrative setup remains separate from contract checking.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "MAX update envelope; accepted message_created, bot_started and message_callback events are normalized server-side. Unsupported/malformed envelopes are ignored."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handled, duplicate, ignored, or accepted by the configured managed async service. Accepted does not mean calculation is complete.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "enum": [
                        "handled",
                        "duplicate",
                        "ignored",
                        "accepted"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid webhook secret.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "const": "unauthorized"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "503": {
            "description": "Retry is required; automatic duplicate protection is server-owned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "const": "retry_later"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/max/worker": {
      "post": {
        "operationId": "maxAsyncWorker",
        "summary": "Execute a managed MAX update (internal only)",
        "security": [
          {
            "MaxWorkerSecret": []
          }
        ],
        "description": "Separate server-derived credential; the webhook secret does not authorize this route. Body is a minimal MAX envelope, limited to 64 KiB. Persistent receipts prevent duplicate provider work. Not a judge/user API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handled, duplicate, or ignored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "enum": [
                        "handled",
                        "duplicate",
                        "ignored"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid worker credential.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "const": "unauthorized"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "503": {
            "description": "Worker busy or interrupted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "const": "retry_later"
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/saved": {
      "get": {
        "operationId": "listSavedRoutes",
        "summary": "List the authenticated owner's saved conditions",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 600
            }
          }
        ],
        "description": "Up to 50 records per page. can_open and has_fresh_result are informational; activate checks current ownership and expiry. Reads call no providers.",
        "responses": {
          "200": {
            "description": "Saved route list and opaque next cursor.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedRouteList"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/drafts/{id}/events/search": {
      "post": {
        "operationId": "searchDayEvents",
        "summary": "Search the selected day in a verified supported locality",
        "description": "Search the selected day in a verified supported locality. Returns a bounded public afisha with opaque choices and explicit coverage; no draft mutation. Source previews expire within five minutes and cannot be treated as the entire city catalog.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchEventsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSearchPreview"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/drafts/{id}/events/availability": {
      "post": {
        "operationId": "checkEventAvailability",
        "summary": "Freshly read the selected source event and venue",
        "description": "Freshly read the selected source event and venue. Returns exact selectable occurrences or visit windows with opaque occurrence choices. Unknown schedules are explicit gaps, not assumed opening hours.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventAvailabilityInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventAvailabilityPreview"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/drafts/{id}/events/select": {
      "post": {
        "operationId": "selectDayEvent",
        "summary": "Explicitly append an event or replace the selected wish using a server-owned occurrence choice",
        "description": "Explicitly append an event or replace the selected wish using a server-owned occurrence choice. Flexible visits require an explicit user duration. Invalidates confirmation/result, preserves other wishes and stores only the chosen identity as durable own data.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningView"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/drafts/{id}/events/recheck": {
      "post": {
        "operationId": "recheckSelectedEvent",
        "summary": "Freshly verify a previously chosen exact event occurrence",
        "description": "Freshly verify a previously chosen exact event occurrence. Does not choose a different occurrence, calculate a route or extend saved-condition retention. The returned draft needs confirmation.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecheckEventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningView"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/saved/{id}/activate": {
      "post": {
        "operationId": "activateSavedRoute",
        "summary": "Explicitly selects an own route in shared bot/mini-app navigation without calling providers",
        "description": "Explicitly selects an own route in shared bot/mini-app navigation without calling providers. An expired draft returns own saved conditions. An old replay cannot override a newer navigation action (ACTIVATION_SUPERSEDED 409).",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateSavedRouteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningBootstrap"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/saved/{id}/delete": {
      "post": {
        "operationId": "deleteSavedRoute",
        "summary": "Deletes the explicitly selected own saved revision, working draft and navigation entry, and revokes associated links through a database cascade",
        "description": "Deletes the explicitly selected own saved revision, working draft and navigation entry, and revokes associated links through a database cascade. Copies previously imported by other users remain theirs. Same-event replay is idempotent; changed revision returns SAVED_CONDITIONS_STALE 409.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSavedRouteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteDeleted"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/drafts/{id}/alternatives/preview": {
      "post": {
        "operationId": "previewStopAlternative",
        "summary": "Build one fresh validated replacement for the selected stop while preserving all other stops/order/constraints",
        "description": "Build one fresh validated replacement for the selected stop while preserving all other stops/order/constraints. Does not modify the current plan. Empty alternatives is a valid result with issues. Uses Places/Routing and the deterministic planner, no LLM.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewAlternativeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternativePreview"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/drafts/{id}/alternatives/apply": {
      "post": {
        "operationId": "applyStopAlternative",
        "summary": "Applies the exact unexpired preview under owner/version checks without new provider work",
        "description": "Applies the exact unexpired preview under owner/version checks without new provider work. Expired previews return 410. Neither original nor provider expiry is extended.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque draft identifier returned by the server; ownership is checked before reading or changing it."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyAlternativeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningView"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/shares": {
      "post": {
        "operationId": "createRouteShare",
        "summary": "Creates an opaque revocable link for the exact saved revision",
        "description": "Creates an opaque revocable link for the exact saved revision. Pending input clarifications return SHARE_CLARIFICATION_REQUIRED (422); they cannot be silently omitted or forwarded. Private origin/destination points are omitted unless explicitly included. Own conditions expire within seven days; provider preview retains its original shorter expiry. This call does not send a MAX message.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShareInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareCreated"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/shares/resolve": {
      "post": {
        "operationId": "resolveRouteShare",
        "summary": "Authenticated read-only preview for a holder of the token",
        "description": "Authenticated read-only preview for a holder of the token. Expired provider facts are removed; expired/revoked/unknown links return 404. No LLM or provider calls. Token belongs in the POST body, never logs.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveShareInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharePreview"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          }
        }
      }
    },
    "/api/planning/shares/import": {
      "post": {
        "operationId": "importRouteShare",
        "summary": "Explicitly copies allowed conditions to a new recipient-owned unconfirmed draft using fresh verified locality context, without LLM",
        "description": "Explicitly copies allowed conditions to a new recipient-owned unconfirmed draft using fresh verified locality context, without LLM. Original result/confirmation is not copied. Failed/pending replay never repeats context; replay after imported draft expiry returns 410.",
        "security": [
          {
            "MaxInitData": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportShareInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation; inspect status, issues and expiry before presenting completion.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningView"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PlanningError"
                    },
                    {
                      "$ref": "#/components/schemas/FrameworkError"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "410": {
            "description": "HTTP 410; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanningError"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds the route body limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported request Content-Type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkError"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422; see the machine-readable error code.",
            "content": {
              "application/json": {
                "schema": {
[...]
